asgiref==3.2.3
Django==3.0.3
django-crispy-forms==1.8.1
django-dynamic-preferences==1.8.1
django-recaptcha==2.0.5
persisting-theory==0.2.1
Pillow==7.0.0
python-slugify==4.0.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
text-unidecode==1.3
