{% extends 'main.html' %}
{% load i18n %}

{% block add_head %}
{% endblock add_head %}

{% block add_foot %}
{% endblock add_foot %}

{% block content_body %}
{% now "U" as current_time %}
<div class="jumbotron bootstrap-override">
    <h1 class="display-6">
		{% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			{% trans 'Application is open!' %}
		{% else %}
			{% trans 'Application opens' %} {{ global_preferences.fair__applications_open_date|date:'d.m.Y' }}!
		{% endif %}
		</h1>
    <p class="lead">		
		{% trans 'Chemtogether is an annual career fair at ETH Zurich for companies in the chemical and pharmaceutical industries. This year´s Chemtogether will take place on the 3<sup>rd</sup> and 4<sup>th</sup> November 2020 on the G-floor of the HCI building on the ETH Hönggerberg campus.' %} 
		<br>
        {% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			{% trans 'The application process for exhibitors of Chemtogether 2020 is open.' %}
		{% else %}
			{% trans 'The application process for exhibitors of Chemtogether 2020 will open on' %} {{ global_preferences.fair__applications_open_date|date:'d.m.Y' }}.
        {% endif %}
    </p>
    <hr class="my-4">
    <p>
		{% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			{% trans 'Use the link to the application form below to start the registration process. If you have any questions in the meantime, contact us below.' %}
		{% else %}
			{% trans 'You have created an account and will be informed as soon as the application process is opened. The application form will be shown below. If you have any questions in the meantime, contact us below.' %}
		{% endif %}
	</p>
    <p class="lead">
		{% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			<a class="btn btn-outline-secondary btn-lg" href="{% url 'profiles:application' %}" role="button">{% trans 'To application form' %}</a>
		{% endif %}
		<a class="btn btn-outline-primary btn-lg" href="mailto:info@chemtogether.ethz.ch" role="button">{% trans 'Contact by mail' %}</a>
    </p>
</div>

<br>
<div class="card bg-warning bootstrap-override mb-3">
    <div class="card-header"><b>{% trans 'Important' %}</b></div>
    <div class="card-body">
      <p class="card-text">
			{% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
				{% trans 'Having signed up for an account is not a registration for the fair. The process of applying for the fair begins after account creation with the application form.' %}
			{% else %}
				{% trans 'Having signed up for an account is not a registration for the fair. You will be notified about the opening of the application process and will be able to apply for the fair in a separate application step as soon as the application process is open.' %}
		{% endif %}
		  </p>
    </div>
</div>
<br><br>


<h2>{% trans 'Learn more about' %}</h2><br>
{% include 'basic/info_cards.html' %}

<br>
<br>
{% endblock content_body %}