{% extends 'main.html' %}
{% load i18n %}

{% block add_head %}
{% endblock add_head %}

{% block add_foot %}
{% endblock add_foot %}

{% block content_body %}
{% now "U" as current_time %}
<div class="jumbotron bootstrap-override">
    <h1 class="display-6">
		{% trans 'Chemtogether 2021: Company Registration' %}
	</h1>
    <p class="lead">
		{% trans 'Chemtogether is an annual career fair at ETH Zurich for companies in the chemical and pharmaceutical industries. This year´s Chemtogether will take place on the 2<sup>nd</sup> and 3<sup>rd</sup> November 2021 on the G-floor of the HCI building on the ETH Hönggerberg campus.' %}
		<br>
		{% trans 'Due to the ongoing COVID-19 pandemic it remains uncertain whether a career fair with physical presence will be possible in November. We are therefore currently working on an alternative virtual format of the fair. Should the situation not have improved by the end of the summer, a cancellation will be communicated in due time and your company will not incur any costs. We will offer a sign-up to the virtual alternative at new conditions.' %} 
		<br>
        {% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			{% trans 'The application process for exhibitors of Chemtogether 2021 is open.' %}
		{% else %}
			{% trans 'The application process for exhibitors of Chemtogether 2021 will open on' %} {{ global_preferences.fair__applications_open_date|date:'d.m.Y' }}.
        {% endif %}
	</p>
    <hr class="my-4">
    <p>
		{% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			{% trans 'To start the application process for Chemtogether 2021, either sign up for an account or log into your existing account.' %}
		{% else %}
			{% trans 'To be informed as soon as the application process for Chemtogether 2021 is started, you can already create an account that is required for the application.' %}
		{% endif %}
	</p>
    <p class="lead">
		<a class="btn btn-outline-primary" href="{% url 'signup' %}" role="button">{% trans 'Sign up' %}</a>
		<a class="btn btn-outline-primary" href="{% url 'login' %}" role="button">{% trans 'Log in' %}</a>
    </p>
</div>


<br><br>
<h2>{% trans 'Learn more about' %}</h2><br>
{% include 'basic/info_cards.html' %}

<br>
<br>



{% endblock content_body %}