{% extends 'main.html' %}
{% load i18n %}

{% block add_head %}
{% endblock add_head %}

{% block add_foot %}
{% endblock add_foot %}

{% block content_body %}
<div class="jumbotron bootstrap-override">
    <h1 class="display-6">{% trans 'Chemtogether 2020: Company Registration' %}</h1>
    <p class="lead">{% trans 'Chemtogether is an annual career fair at ETH Zurich for companies in the chemical and pharmaceutical industries. The application process for exhibitors of Chemtogether 2020 will open on January 20th.' %}</p>
    <hr class="my-4">
    <p>{% trans 'To stay up to date and be informed about the opening of the application process, subscribe to our news via email by signing up.' %}</p>
    <p class="lead">
		<a class="btn btn-primary" href="{% url 'signup' %}" role="button">{% trans 'Sign up' %}</a>
		<a class="btn btn-primary" href="{% url 'login' %}" role="button">{% trans 'Log in' %}</a>
    </p>
</div>


<br><br>
{% include 'basic/info_cards.html' %}

<br>
<br>



{% endblock content_body %}