{% extends 'main.html' %}
{% load i18n %}

{% block add_head %}
{% endblock add_head %}

{% block add_foot %}
{% endblock add_foot %}

{% block content_body %}

{% if user.profile.get %}
<h1>Hi {{ user.profile.get.first_name }}!</h1>
<a href="{% url 'profiles:representative' %}" class="btn btn-outline-primary">Edit your profile</a>
{% else %}
<h1>Hi!</h1>
<a href="{% url 'profiles:representative' %}" class="btn btn-outline-primary">Create your profile</a>
{% endif %}



{% endblock content_body %}