{% extends 'main.html' %}
{% load i18n %}

{% block add_head %}
{% endblock add_head %}

{% block add_foot %}
{% endblock add_foot %}

{% block content_body %}
{% now "U" as current_time %}
<div class="jumbotron bootstrap-override">
    <h1 class="display-6">
		{% trans 'Chemtogether 2022: Company Registration' %}
	</h1>
    <p class="lead">
		{% trans 'Chemtogether is an annual career fair at ETH Zurich for companies in the chemical and pharmaceutical industries. This year´s Chemtogether will take place on the 8<sup>th</sup> and 9<sup>th</sup> November 2022 on the G-floor of the HCI building on the ETH Hönggerberg campus.' %}
		<br>
		{% trans 'Information regarding COVID-19: We are confident that the Chemtogether 2022 will again be held in presence. To ensure the health of our company representatives and visitors, we will adhere to the regulations imposed by the Federal Council and ETH Zürich. We hope you will understand this measure and support us in our efforts to ensure the safest possible experience. We are looking forward to welcoming you all to this year’s Chemtogether!' %} 
		<br>
        {% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			{% trans 'The application process for exhibitors of Chemtogether 2022 is open.' %}
		{% else %}
			{% trans 'The application process for exhibitors of Chemtogether 2022 will open on' %} {{ global_preferences.fair__applications_open_date|date:'d.m.Y' }}.
        {% endif %}
	</p>
    <hr class="my-4">
    <p>
		{% if global_preferences.fair__applications_open_date|date:"U" < current_time %}
			{% trans 'To start the application process for Chemtogether 2022, either sign up for an account or log into your existing account.' %}
		{% else %}
			{% trans 'To be informed as soon as the application process for Chemtogether 2022 is started, you can already create an account that is required for the application.' %}
		{% endif %}
	</p>
    <p class="lead">
		<a class="btn btn-outline-primary" href="{% url 'signup' %}" role="button">{% trans 'Sign up' %}</a>
		<a class="btn btn-outline-primary" href="{% url 'login' %}" role="button">{% trans 'Log in' %}</a>
    </p>
</div>


<br><br>
<h2>{% trans 'Learn more about' %}</h2><br>
{% include 'basic/info_cards.html' %}

<br>
<br>



{% endblock content_body %}