{% load i18n %}
<div class="container">
        <div class="card-deck">
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/impressions/reduced_size/05.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">
                        {% trans 'The Fair' %}
                    </h4>
                    <p class="card-text">
                        {% trans 'Chemtogether is an annual career fair at ETH Zurich for companies in the chemical and pharmaceutical industries.' %}
                    </p>
                    <div class="text-center mt-auto"> 
                        <a class="btn btn-outline-secondary" href="https://www.chemtogether.ethz.ch" target="_blank" role="button">{% trans 'Learn more' %}</a>
                    </div>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/1.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">
                        {% trans 'Our Offers' %}
                    </h4>
                    <p class="card-text">
                        {% trans 'As an exhibitor, you can choose between four different packages for your booth at the fair.' %}
                    </p>
                    <div class="text-center mt-auto"> 
                        <a class="btn btn-outline-secondary" href="https://www.chemtogether.ethz.ch/exhibitors" target="_blank" role="button">{% trans 'Learn more' %}</a>
                    </div>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
            <div class="w-100 d-none d-sm-none d-md-block d-lg-none"><!-- wrap every 2 on sm--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/impressions/reduced_size/08.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">
                        {% trans 'How To Register' %}
                    </h4>
                    <p class="card-text">
                        {% trans 'Your company can be an exhibitor at Chemtogether. To apply, follow the three-step application procedure.' %}
                    </p>
                    <div class="text-center mt-auto"> 
                        <a class="btn btn-outline-secondary" href="{% url 'basic:info_application' %}" role="button">{% trans 'Learn more' %}</a>
                    </div>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 1 on sm--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="https://s3.eu-central-1.amazonaws.com/static.chemtogether.2018/img/team/2019/team_full_1x.jpg" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">
                        {% trans 'Contact Us' %}
                    </h4>
                    <p class="card-text">
                        {% trans 'If you have any other questions or enquiries, feel free to contact us at any time.' %}
                    </p>
                    <div class="text-center mt-auto"> 
                        <a class="btn btn-outline-secondary" href="mailto:info@example.com" role="button">{% trans 'Mail us' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>