<div class="container">
    <div class="row">
        {% if data %}
            {% for entry in data %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ entry.form.title }}
                                {% if entry.status == 'draft' %}
                                    <span class="badge badge-warning float-right">Draft</span>
                                {% elif entry.status == 'submitted' %}
                                    <div class="badge badge-success float-right">Submitted</div>
                                {% else %}
                                    <span class="badge badge-danger float-right">Incomplete</span>
                                {% endif %}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% if entry.form.expiry_date %}
                                    Deadline: {{ entry.form.expiry_date|date:'l, d.m.y, H:i (T)' }}
                                {% else %}
                                    No deadline
                                {% endif %}
                            </h6>
                            <p class="card-text">{{ entry.form.intro }}</p>
                            <a class="btn btn-primary card-link" href="{{ entry.form.get_absolute_url }}">To form</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="w-100"></div><br>
                {% else %}
                    {% if forloop.last %}
                    <div class="col"></div>
                    {% endif %}
                    <div class="w-100 d-lg-none"></div><br>
                {% endif %}
            {%endfor%}
        {% else %}
            <p>Nothing here yet! Please check back soon to see if anything new has been published.</p>
        {% endif %}
    </div>
  </div>




