{% extends 'main.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content_body %}
<div class="row">
    <div class="col-md-12">
        <h1>{% trans 'Login' %}</h1>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
                <small>{% trans 'Lost your password?' %} <strong><a href="{% url 'password_reset' %}">{% trans 'Reset password' %}</a></strong></small>
            </p>
            <button type="submit" class="btn btn-primary">{% trans 'Login' %}</button>
        </form>
    </div>
</div>
{% endblock %}
