{% extends 'main.html' %}

{% block content_body %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>Settings</strong></div>
    <div class="list-group">
        <a class="list-group-item account-settings" href="{% url "account_settings" %}">
            Account
        </a>
        <a class="list-group-item account-password" href="{% url "account_password" %}">
            Change password
        </a>
    </div>
</div>
{% block body %}
{% endblock body %}
{% endblock %}
