{% extends 'main.html' %}
{% load i18n %}
{% load static %}

{% load crispy_forms_tags %}

{% block add_foot %}
    <script src="{% static 'js/copytoclipboard.js' %}"></script>
{% endblock add_foot %}

{% block content_body %}

<div class="row">
    <div class="col-md-12">
        <h1>{% trans 'Company Details:' %} {{ company.title }}</h1> 
    </div>
</div>
<br><br>

{% if assign_staff_form or accept_company_form %}
<div class="table-responsive">
    <table class="table companydetailadmintable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2"><span style="font-size: 22px;">{% trans 'Admin' %}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if assign_staff_form %}
                <td>
                    {% crispy assign_staff_form %}
                </td>
                {% endif %}
                {% if accept_company_form %}
                <td>
                    {% crispy accept_company_form %}
                </td>
                {% endif %}
            </tr>            
        </tbody>
    </table>
</div>
{% endif %}

<br><br>

<div class="table-responsive">
    <table class="table companydetailtable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2"><span style="font-size: 22px;">{% trans 'General' %}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{% trans 'Status' %}</th>
                <td>
                    {% if company_user.is_company_is_accepted %}
                        Application accepted
                    {% elif company_user.is_company_has_applied %}
                        Application open
                    {% else %}
                        Error: please inform webmaster
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Assigned Staff' %}</th>
                <td>{{ staff }}</td>
            </tr>               
        </tbody>
    </table>
</div>

<br><br>

<div class="table-responsive">
    <table class="table companydetailtable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2"><span style="font-size: 22px;">{% trans 'Application' %}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{% trans 'Company Name' %}</th>
                <td>{{ company.title }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Fair Day' %}</th>
                <td>{{ company.get_day_display }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Day Flexibility' %}</th>
                <td>
                    {% if company.flexible_day %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Package' %}</th>
                <td>{{ company.get_package_display }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Package Flexibility' %}</th>
                <td>
                    {% if company.flexible_package %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Contact: Name' %}</th>
                <td>{{ company.first_name }} {{ company.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Contact: E-Mail' %}</th>
                <td>{{ company.email }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Contact: Phone Number' %}</th>
                <td>{{ company.phone_number }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Contact: Language' %}</th>
                <td>{{ company.get_language_display }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Mailing Address' %}</th>
                <td>{{ company.mailing_address }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Billing Address' %}</th>
                <td>{{ company.billing_address }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Terms of Service' %}</th>
                <td>
                    {% if company.accepts_tos %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Comments' %}</th>
                <td>{{ company.comments }}</td>
            </tr>                    
        </tbody>
    </table>
</div>

<br><br>

<div class="table-responsive">
    <table class="table companydetailtable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2"><span style="font-size: 22px;">{% trans 'Application Timestamps' %}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{% trans 'First Application' %}</th>
                <td>{{ company.date_of_first_application }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Last Application Update' %}</th>
                <td>{{ company.date_of_last_application }}</td>
            </tr>     
            <tr>
                <th scope="row">{% trans 'Application Accepted' %}</th>
                <td>{{ company.date_of_accepted_application }}</td>
            </tr>                     
        </tbody>
    </table>
</div>

<br><br>

<div class="table-responsive">
    <table class="table companydetailtable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2"><span style="font-size: 22px;">{% trans 'Form Responses' %}</span></th>
            </tr>
        </thead>
        {% if form_data %}
        <tbody>
            <tr>
                <td>
                    {% for entry in form_data %}
                        <div class="card mb-3">
                            <div class="card-header" id="heading{{ forloop.counter }}">
                                <div class="clearfix" style="font-weight: 700;">
                                    {{ entry.form.title }}
                                        {% if entry.form_entry and entry.form_entry.status == 1 %}
                                            <div class="badge badge-warning float-right" style="font-size: 18px;">Draft</div>
                                        {% elif entry.form_entry and entry.form_entry.status == 2 %}
                                            <div class="badge badge-success float-right" style="font-size: 18px;">Submitted</div>
                                        {% else %}
                                            <div class="badge badge-danger float-right" style="font-size: 18px;">Incomplete</div>
                                        {% endif %}
                                </div>
                                <br>
                                <div class="clearfix">
                                    {% if entry.form_entry %}
                                        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}">
                                            {% trans 'View Data' %}
                                        </button>
                                    {% endif %}
                                    <span class="float-right text-muted" style="padding-top: 6px;">
                                    {% if entry.form.expiry_date %}
                                            Deadline: {{ entry.form.expiry_date|date:'l, d.m.y, H:i (T)' }}
                                        {% else %}
                                            No deadline
                                        {% endif %}
                                    </span>
                                </div>

                            </div>
                            {% if entry.form_entry %}
                                <div id="collapse{{ forloop.counter }}" class="collapse">
                                    <div class="card-body">
                                        <p>
                                            {{ entry.form.description }}
                                        </p>
                                        <table class="table companydetailtable mb-0">
                                            <tbody>
                                                {% for field in entry.form_data%}
                                                <tr>
                                                    <th scope="row">{{ field.label }}</th>
                                                    <td>{{ field.formatted_value|safe }}</td>
                                                    <td>
                                                        {% if field.value_type == 'url' %}
                                                            <a target="_blank" href="/media/{{ field.value }}" class="btn btn-outline-primary">Download</a>
                                                        {% else %}
                                                            <button class="btn btn-outline-primary" onclick="copyToClipboard('{{field.formatted_value|safe}}')">Copy</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>            
        </tbody>
        {% else %}
            <tbody><tr><td>There are no forms to show.</td></tr></tbody>
        {% endif %}
    </table>
</div>

<br><br>

<div class="table-responsive">
    <table class="table companydetailtable">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="2"><span style="font-size: 22px;">{% trans 'Corresponding User' %}</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{% trans 'E-Mail' %}</th>
                <td>{{ company_user.email }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Verified' %}</th>
                <td>
                    {% if company_user.is_active %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">{% trans 'Registered' %}</th>
                <td>{{ company_user.date_joined }}</td>
            </tr>    
            <tr>
                <th scope="row">{% trans 'Last Online' %}</th>
                <td>{{ company_user.last_login }}</td>
            </tr>                    
        </tbody>
    </table>
</div>

    
{% endblock %}
