{% load i18n %}
{% if staff %}
<div class="card" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-auto" style="width:100%;max-width:200px;margin:auto">
            <img src="{{ staff.image.url }}" class="img-fluid " style="width:100%;max-width:200px;height:auto;">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">{{ staff.first_name }} {{ staff.last_name }}</h5>
                <p class="card-text">{% trans 'is your contact for the registration process and will assist if you have any questions or inquiries.' %}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-fw fa-envelope"></i> {{ staff.email }}</li>
                <li class="list-group-item"><i class="fas fa-fw fa-phone"></i> {{ staff.phone_number }}</li>
              </ul>
              <div class="card-body">
                <a href="mailto:{{ staff.email }}" class="card-link btn btn-primary">Send email</a>
              </div>
        </div>
    </div>
</div>
{% else %}
<div class="card" style="max-width: 350px;">
  <div class="row no-gutters">
      <div class="col">
          <div class="card-body">
              <h5 class="card-title">{% trans 'Acquisition Team' %}</h5>
              <p class="card-text">{% trans 'We will assist if you have any questions or inquiries.' %}</p>
            </div>
            <ul class="list-group list-group-flush" style="text-align: center;">
              <li class="list-group-item"><i class="fas fa-fw fa-envelope"></i> acquisition@chemtogether.ethz.ch</li>
            </ul>
            <div class="card-body" style="text-align: center;">
              <a href="mailto:acquisition@chemtogether.ethz.ch" class="card-link btn btn-primary">Send email</a>
            </div>
      </div>
  </div>
</div>
{% endif %}