{% load i18n %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2b2b2b;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/logo.png" height="60" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
                <ul class="navbar-nav ml-auto">
                    {% url 'basic:home' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="/">{% trans 'Overview' %}</a>
                    </li>
                    {% if user.is_authenticated and user.is_staffmember %}
                        {% url 'basic:home' as url %}
                        <li class="nav-item {% if request.path == url %}active{% endif %}">
                            <a class="nav-link" href="{{ url }}">{% trans 'Company List' %}</a>
                        </li>
                        {% url 'profiles:representative' as url %}
                        <li class="nav-item {% if request.path == url %}active{% endif %}">
                            <a class="nav-link" href="{{ url }}">{% trans 'Profile' %}</a>
                        </li>
                    {% else %}
                        <div class="dropdown">
                            <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'Information' %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="https://www.chemtogether.ethz.ch" target="_blank">{% trans 'on the career fair' %}</a>
                                <a class="dropdown-item" href="https://www.chemtogether.ethz.ch/exhibitors/" target="_blank">{% trans 'on the fair packages' %}</a>
                                {% url 'basic:info_application' as url %}
                                <a class="dropdown-item {% if request.path == url %}active{% endif %}" href="{{ url }}">{% trans 'on the application process' %}</a>
                                <a class="dropdown-item" href="{% static 'files/tos.pdf' %}" target="_blank">{% trans 'Terms of Service' %}</a>
                            </div>
                        </div>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <a class="btn btn-outline-light btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.email }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                                    <a class="dropdown-item" href="{% url 'password_change' %}">{% trans 'Change Password' %}</a>
                                </div>
                              </div>
                        {% else %}
                        <a href="{% url 'login' %}"><button class="btn btn-outline-light btn-block" type="button">{% trans 'Login' %}</button></a>
                        <span style="width:10px;height:10px;"></span>
                        <a href="{% url 'signup' %}"><button class="btn btn-outline-light btn-block" type="button">{% trans 'Signup' %}</button></a>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>



